# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build outputs
/frontend/dist/
/netlify/functions/deps/
*.pyc
__pycache__/
.cache/
.output/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary files
tmp/
temp/
